<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="App">
	<form action="/movies" method="POST">
		<input type="text" class="Search" id="userId" name="userId" placeholder="IMDB user ID"/>
		<input type="submit" value="Submit" class="Search">
	</form>
	
<div class="MoviesContainer">
<% if(movies == null){%>
    <p>No films to show</p>
<% }else{ %>

<div class="Title">Your Films</div>

<% for (var i in movies) { %>
	<% var movie = movies[i]; %>
		<a class="MovieCellContainer" href="<%= movie.url%>">
			<div class="MoviePosterContainer">
				<img src="<%= movie.poster %>" class="MoviePoster">
			</div>
			<div class="MovieInfo">
				<div class="MovieTitle">
					<%= movie.title + ' (' + movie.year + ')'%>
				</div>
				<div class="MovieYear">
					<%= movie.viewingOptions[0] %>
				</div>
				<div class="MovieYear">
					Metascore: <%= movie.metascore %>
				</div>
				<div class="MovieYear">
					Runtime: <%= movie.runtime %>
				</div>
				
			</div>
		</a>
              
<% }}%>
</div>	
</div>
</body>
</html>